.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#logo {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
}

#desc {
  position: fixed;
  top: 25px;
  right: 100px;
  font-weight: 700;
  font-size: 1.5em;
  color: #CF1020;
  z-index: 10000;
  text-align: right;
}

#desc p {
  margin: 0 5px;
  font-size: 0.5em;
  color: black;
}

.horizontal-slider {
  position: fixed !important;
  touch-action: none;
  z-index: 1000;
  bottom: 10px;
  left: 10vw;
  width: 100%;
  max-width: 80vw;
  height: 50px;
}

.vertical-slider {
  position: fixed !important;
  touch-action: none;
  z-index: 1000;
  bottom: 5vh;
  left: 10px;
  height: 80vh;
  width: 50px;
}

.example-thumb {
  font-size: 1em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 5px solid gray;
  box-sizing: border-box;
  border-radius: 50%;
}

.example-thumb.active {
  background-color: grey;
}

.example-track {
  position: relative;
  background: #f00;
}

.example-track.example-track-1 {
  background: #0f0;
}

.example-track.example-track-2 {
  background: #ddd;
}

.horizontal-slider .example-track {
  top: 20px;
  height: 10px;
}

.horizontal-slider .example-thumb {
  top: 1px;
  width: 50px;
  height: 48px;
  line-height: 38px;
}

.vertical-slider .example-thumb {
  left: 1px;
  width: 48px;
  line-height: 40px;
  height: 50px;
}

.vertical-slider .example-track {
  left: 20px;
  width: 10px;
}
